name: CI pipeline.
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment environment'
        required: true
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo code to VM
        uses: actions/checkout@v3
      - name: List directory content
        run: |
          ls -ali
          echo ${{ github.workspace }}
      - name: 'Output deployment environment'
        run: |
          echo ${{ github.events.inputs.environment }}
